* {
	--bs-success-rgb: 160, 200, 120;
}

button.btn-livro {
    color: rgb(0, 0, 0);
    border: solid 3px #A0C878;
}

button.btn-livro:hover {
    background-color: #A0C878;
    border-color: #A0C878;
    color: #000;
}

#video,
#canvas {
    margin: auto;
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
}