/* ===== BOTÃO ===== */
.button-container {
	display: flex;
	justify-content: center;
}

.button-container>a {
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	color: rgb(0, 0, 0);
	border: solid 3px #A0C878;
	padding: 0.8rem 1.5rem;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	max-width: 300px;
}

.button-container>a:hover {
	background-color: #A0C878
}